
<div class="detail">
  <h2>{{ pokemon.name }}</h2>
  <h4>{{ pokemon.type }} </h4>
  <div class="content">
    <img [src]="pokemon.imgUrl" />
    <div>
      <p> Price: {{ pokemon.height }}</p>
    
      <p>
        Location: {{ pokemon.description }}
        
      </p>
      <p>
        Contact Number: {{ pokemon.contact }}
        
      </p>
      <p>Buy: {{ pokemon.weight }}</p>
     
      <h2>Use the above link or call to book now!</h2>
        
     
    </div>
  </div>
  <div>
    
  </div>
</div>