.detail {
    border-radius: 15px;
    box-shadow: 0 0 11px #cacaca;    
    padding: 30px;
background-color: #fff;
    button {
        margin-right: 10px;
    }
    
    h2 {
        margin-bottom: 10px;
    }
    
    h4 {
        background-color: #fff;
        font-weight: normal;
        margin-top: 0;
    }
    
    .content {
        display: flex;
        background-color: #fff;
        img {
            height: 140px;
            margin-right: 15px;
            max-width: 250px;
            object-fit: cover;
        }
    }

    .nav-btn2{
        color: #fff;
        background-color: green;
        border-radius: 30px;
        padding: 8px 25px;
        text-align: center;
        cursor: pointer;
        letter-spacing: 0.5px;
        text-decoration: none;
        line-height: 26px;
        font-size: 18px;
        font-family: "commissioner";
        border-color: black;
        box-shadow: 0px 8px 15px rgba(0,0,0,.4);
        margin-top: 15px;
        transition: 0.8s all;
    }

}