.detail {
    border-radius: 15px;
    box-shadow: 0 0 11px #cacaca;    
    padding: 30px;
background-color: #fff;
    button {
        margin-right: 10px;
    }
    
    h2 {
        margin-bottom: 10px;
    }
    
    h4 {
        background-color: #fff;
        font-weight: normal;
        margin-top: 0;
    }
    
    .content {
        display: flex;
        background-color: #fff;
        img {
            height: 140px;
            margin-right: 15px;
            max-width: 250px;
            object-fit: cover;
        }
    }

}