<div class="background">
  <div class="login-container">
    <div class="text-container">
      <h1>Welcome</h1>
      <p>
        Enter this awesome app to get super cheap or even free food
        by just logging in with your google account!
      </p>
      <button class="mat-raised-button" (click)="loginWithGoogle()">
         Login
      </button>
    </div>
    <div class="form-container">
      <h1>Lets Not Waste</h1>
      
      <h5>Login As Shop Manager</h5>
      <ngbytes-login-form (formData)="login($event)"></ngbytes-login-form>
    </div>
  </div>
</div>