
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Discount or even FREE food available in multiple locations. Want to save money on dinners and reduce food waste at the same time? Look no further, as you are in the right place!">
  <meta name="keywords" content="Free,Food,Shops,ShopsNearby,Discountedfood,letsnotwaste,foodonline">
  <meta name="author" content="Sadman Rahman">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container">
	<div class="screen">
		<div class="screen__content">
      <br>
      <br>
      <br>
      <br>
      <h1> &nbsp;&nbsp;Lets Not Waste</h1>
      
      <p> &nbsp;&nbsp;&nbsp;&nbsp;Login As Shop Manager</p>
      <br>
			<ngbytes-login-form (formData)="login($event)"></ngbytes-login-form>
			<div class="social-login">
				<h2>User Login</h2>
				<div class="social-icons">
          <button class="button login__submit">
            <span class="button__text"(click)="loginWithGoogle()">LogIn</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>				
        
      
            <button class="button login__submit" onclick="location.href='https://support.google.com/accounts/answer/27441?hl=en'">
              
              <span class="button__text">Sign
              </span>
            
              <i class="button__icon fas fa-chevron-right"></i>
            </button>
         
          
				</div>
        
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>