<br>
<a href="/dashboard" class="nav-btn">Dashboard</a>

<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url(assets/linkfood.png)"></div>
   
  </div>
  <div class="description">
    <h1>How to order selected food</h1>
    <h2>Reduce food waste + save money</h2>
    <p>Step 1 - From the menu, go to order page<br>Step 2 - Click on the preffered food item<br>Step 3 - Use the link as shown on this image to pay
    </p>
    <p class="read-more">
      <a href="/user">Start Ordering!</a>
    </p>
  </div>
</div>
<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(assets/refundlink.png)"></div>
    
  </div>
  <div class="description">
    <h1>How to request refund?</h1>
    <h2>Customer satisfaction is key for us</h2>
    <p>Step 1- Go to order page and scroll below till you see the cashback image<br>Step-2- Choose the shop you want to request refund, from the given list<br>Step-3- On the email state the reasoning and attach the reciept.
    </p>
    <p class="read-more">
      <a href="/user">Request Refund!</a>
    </p>
  </div>
</div>
<router-outlet></router-outlet>