<br>
<a href="/uY2uXw8ftjNkOTV6kHdHuKNZbyu8wfwaXitWeU1KMMbmHkYQzsEquExC7QjIWy6pGoPyO6f7wdNsEfMx" class="nav-btn">Dashboard</a>

<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url(assets/buybutton.png)"></div>
   
  </div>
  <div class="description">
    <h1>Users- How to order selected food</h1>
    <h2>Reduce food waste + save money</h2>
    <p>Step 1 - From the menu, go to order page<br>Step 2 - Click on the preffered food item<br>Step 3 - Use the button as shown on this image to pay
    </p>
    <p class="read-more">
      <a href="/RgUbQYECrZ62tTdDZr98MMgwjh1Lufgsgg9aqpmNipjGiBFbmdUu1vNZNwyintkzJgi09Q031nocEwWh">Start Ordering!</a>
    </p>
  </div>
</div>
<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(assets/freeitems.png)"></div>
    
  </div>
  <div class="description">
    <h1>Charities- How to request food for chartiy?</h1>
    <h2>Charity is key for us</h2> 
    <p>Step 1- Go to order page and check if a shop is giving away many "free" items.<br>Step-2- Note the shop name and browse to charities page<br>Step-3- Insert charity name and shop name requesting from to send request.<br>Step-4- Lastly await for shop owners to approve/deny which will be shown on the status section of charity page.
    </p>
    <p class="read-more">
      <a href="/RgUbQYECrZ62tTdDZr98MMgwjh1Lufgsgg9aqpmNipjGiBFbmdUu1vNZNwyintkzJgi09Q031nocEwWh">Check Available Items!</a>
    </p>
  </div>
</div>
<router-outlet></router-outlet>