<br>
<a href="/adminpage" class="nav-btn">Dashboard</a>

<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url(assets/howtoadditem.png)"></div>
    
  </div>
  <div class="description">
    <h1>How to sell items</h1>
    <h2>Reduce food waste + save money</h2>
    <p>
      Step 1 - Use "Square.com" to build your payment link by adding the item details and clicking 'Create Payment Link', also remember Square charges 2.6% + 10p per transaction<br>
      Step 2 - Use the image address of the image or create one at "imgbb.com"<br>
      Step 3 - Go inside LetsNotWaste and from the menu, go to sell page<br>
      Step 4 - Click the add item button and fill the required details along with the created payment link and image address<br>
      Step 5 - Remember to update the available status to sold when out of stock.</p>
    <p class="read-more">
      <a href="/order">Start Selling!</a>
    </p>
  </div>
</div>
<div class="blog-card alt">
  <div class="meta">
    <div class="photo" style="background-image: url(assets/howtogetpremium.png)"></div>
    
  </div>
  <div class="description">
    <h1>How to Integrate my Inventory?</h1>
    <h2>Automate and make it easier</h2>
    <p>Step 1- Go to the premium page from the menu<br>
      Step-2- Purchase the premium from the given link<br>
      Step-3- Await for an email with a booking time for the invenotry to be integrated (2-3 days)</p>
    <p class="read-more">
      <a href="/premium"> Get Premium!</a>
    </p>
  </div>
</div>
<router-outlet></router-outlet>