

<html>
    <head>
        <title>Lets Not Waste</title>
        <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Condiment&family=Lato:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
        <div class="loader">
            <div class="intro">
                <h3 class="intro-title">LNW</h3>
            </div>
        </div>
       
            
            
            <div class="nav">
                <ul>
                    
                    <a href="/uY2uXw8ftjNkOTV6kHdHuKNZbyu8wfwaXitWeU1KMMbmHkYQzsEquExC7QjIWy6pGoPyO6f7wdNsEfMx" class="nav-btn">Home</a>
                </ul>
                
            </div>
            
        
        <div class="belownav">
            <img src="assets/Charityimg.png" alt="">
        </div>
    
        <div class="container">
        
            <div class="content">
              <div class="list">
                <div class="list-header">
                    
                </div>
        
        
    
            
        <div class="list-header">          

        </div>
        <a href="/QDxOoRhVQ6SOjyYewCVPnzeJFBtJ4Qkyze7XjMN9Axx0w7mgvkUookr2m1zBPA1yKIgSP4sXvm53LUjv" >
          <button class="nav-btn">How to Use</button>
          </a>
<br><br> 

<form class="add">
  <label style="color: teal;font-weight: 500;" for="name">Charity Name & Store you want to collect it from:</label>
  <input type="text" name="name" required [(ngModel)]="CharityDetails.name" class="form-input" />

  <button mat-button type="submit" (click)="add()">Submit</button>
</form>

<br><br>

<div class="list-header">
  <h2>Request List</h2>
</div>

<div class="show">
  <ng-container *ngFor="let request of CharityCollectiondata">
    <div>
      <label for="name-show">Charity Name & Store Requested collection from:</label>
      <input type="text" name="name-show" [value]="request.name" required #name class="form-input">

      <label for="status-show">Status:</label>
      <input type="text" name="status-show" [value]="request.status" required #status class="form-input">
    </div>
    <br>
  </ng-container>
</div>





<img src="assets/faq.png" alt="Cinque Terre" width="1500" height="200">



        
<div class="accordion-wrapper">
  <div class="accordion">
    <input type="radio" name="radio-a" id="check1" checked>
    <label class="accordion-label" for="check1">How do I request form a specific shop?</label>
    <div class="accordion-content">
      <p>On the textbox alongside your name input the shop name to let them acknowledge you are requesting from them.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check2">
    <label class="accordion-label" for="check2">When do I go collect?</label>
    <div class="accordion-content">
      <p>Check on the company website, their closure time and go to collect it 30mins before the closure time.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check3">
    <label class="accordion-label" for="check3">How do I cancel a request after made?</label>
    <div class="accordion-content">
      <p>Contact the shop, through the contact details provided on the order page and let them know you wish not to come anymore.</p>
    </div>
  </div>
</div>











<link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Condiment&family=Lato:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




<footer class="footer-distributed">

  <div class="footer-left">

    <h3><span>LetsNot</span>Waste</h3>

    <p class="footer-links">
    
      
      <a href="/uY2uXw8ftjNkOTV6kHdHuKNZbyu8wfwaXitWeU1KMMbmHkYQzsEquExC7QjIWy6pGoPyO6f7wdNsEfMx">Home</a>
             <a href="/RgUbQYECrZ62tTdDZr98MMgwjh1Lufgsgg9aqpmNipjGiBFbmdUu1vNZNwyintkzJgi09Q031nocEwWh">Order </a>
             <a href="/0AfYCzWLOmqhipC12PPHtjRtoPOjDDUMm0iMPn7hUS8wkVA9gaw9anv7qGiAz6vGXuHmhGaJRM369BRj">About</a>
            <a href="/aOe19zmkSvjAyU3f8U3iH2erDlBRpIpnwOZhmOEMsG4AUGlhSefDkiKngsZU45MEBExdHRiAM1Kog72A">Contact </a>
           <a href="/i4Atw8mkktOyaJMlo0q8B5mwPFIOT8ixhn4sSjkLXxz25RnQeXryOPOOY030b6nvl9FdO7y1jZhGMY28">Charities</a>
            <a href="/AMGRyXCRHHETqsQujcDqZzER45P7iIXV8PKEkwSBhkLFgYk883hJQTGUMfoNDsIO6420qc8kNFJSqBHI">Register</a>
    </p>

    <p class="footer-company-name">LetsNotWaste © 2023</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>United Kingdom</span> London</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+447424883958</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:sadman@gmail.com">sadman@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      "Lets Not Waste" is a platform dedicated to reducing food waste by connecting shop owners with consumers who are looking for quality products at discounted prices. Our mission is to provide a solution for the abundance of food that goes to waste every day, especially in the food industry. 
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>


