
<body>
    
    <div class="uichallenge">
        <div class="header">
            <div class="header_content">
                <a href="/adminpage">
                <button class="btn go-back">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="30" height="30"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M93.16667,42.49609l-43.50391,43.50391l43.50391,43.5039l10.75,-10.75l-32.75391,-32.7539l32.75391,-32.75391z"></path></g></g></svg>
                </button>
            </a>
                <div class="header_text">
                <h1 class="header_text_title">Contact Us</h1>
                <p class="header_text_intro">
                    LetsNotWaste cares about user satisfaction more then anything, please contact for any query
                </p>
            </div>
            
            <a href="mailto: sadman@gmail.com">
            <button class="btn play_btn">
               Email Us
            </button>
        </a>
            </div>
        </div>
    
        <div class="menu">
            <h3 class="menu_title">
                Contact Details:
            </h3>
            <ul class="list_item_wrapper">
                <li class="list_item list_bicep">
                    <button class="btn list_button">
                       
                        <p class="list_text">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sadman@gmail.com</p>
    
                    </button>
                </li>
                <li class="list_item list_body-back">
                    <button class="btn list_button">
    
                        <p class="list_text">Phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+447424884742</p>
            
                    </button>
                </li>
                <li class="list_item list_body-butt">
                    <button class="btn list_button">
                
                        <p class="list_text">Twitter:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@letsnotwaste</p>
                        
                    </button>
                </li>
                <li class="list_item list_legs">
                    <button class="btn list_button">
                     
                        <p class="list_text">Instagram:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@sa_rahmann</p>
    
                    </button>
                </li>
                <li class="list_item list_pectoral">
                   
                </li>
            </ul>
        </div>
    
    </div>
    
    
    
    
    
    
    </body>
    