
    
<body>
    
  <div class="container">
          
  
          <div class="app">
              <br>
              <ul>
          
                  <a href="/adminpage" class="nav-btn">Dashboard</a>
              </ul>
              
              <div class="header">
                  <div class="title">
                      Contact Us
                  </div>
                  <div class="desc">
                      Insta : @sa_rahmann <br>
                      Phone : +447424883958 <br>
                      Gmail : sadman@gmail.com <br>
                      Twitter : @sa_rahmann
                  </div>
                  <div class="hosted-by">
                      <span class="title">
                          Contact
                          <span class="name">Sadman</span>
                      </span>
                      <img src="https://img.freepik.com/premium-vector/african-american-man-avatar-portrait-young-guy-vector-illustration-face_217290-364.jpg" alt="" />
                  </div>
              </div>
              <div class="body">
                  <div class="user-status">
                      <div class="title">
                          Hear Back In
                      </div>
                      <div class="status">
                          <ul class="user-status clearfix">
                              <li class="active">
                                  3-4 days
                                  <i class="fa fa-check"></i>
                              </li>
                              <li>Guaranteed</li>
                              <li>100%</li>
                          </ul>
                          <div class="event-info">
                              <span class="going-status">
                                  <ul>
                                      <li>
                                          <img src="https://img.freepik.com/premium-vector/brunette-man-avatar-portrait-young-guy-vector-illustration-face_217290-1549.jpg?w=2000" alt="" />
                                      </li>
                                      <li>
                                          <img src="https://media.gettyimages.com/id/1227618801/vector/human-face-avatar-icon-profile-for-social-network-man-vector-illustration.jpg?s=170x170&k=20&c=k4snAiY7jV-UdCDwmpW15ITYFjXfPbt0kOYILBE-XWo=" alt="" />
                                      </li>
                                      <li>
                                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7xRFwyAGT-ax7524yg9_R5cJ6cvtfuCqm4OvZJe9OXExvo9dX1W9XxKAmZjHERf0VVWk&usqp=CAU" alt="" />
                                      </li>
                                      <li class="li-more">
                                          +5
                                      </li>
                                  </ul>
                                  <span class="desc">
                                      <span>
                                          <span class="count">5 New</span>
                                          <span class="btn">
                                               Shops
                                          </span>
                                      </span><span>
                                          <span class="count">39 Total</span>
                                          <span class="btn">
                                              Shops
                                          </span>
                                      </span>
                                  </span>
                              </span>
                              <span>
                                  <span class="going-date">
                                      <span class="date">
                                          9-5
                                          <sup class="btn">Monday to</sup>
                                          <span class="btn">Friday</span>
                                      </span>
                                      <span class="desc">
                                          <span class="btn">
                                              Anytime
                                          </span>
                                      </span>
                                  </span>
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="side-nav">
                  <ul>
                      <li class="active">
                          Details
                      </li>
                      <li>
                          <span class="top sep"></span>
                      </li>
                      <li>
                          Updates
                          <span class="count">2</span>
                      </li>
                  </ul>
              </div>
              <div class="footer">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU6CVLbjqXRfsurQke47bwdAA-VZPZ_MsmLw&usqp=CAU" alt="" class="map" />
                  <span class="host-location">
                      <span class="pin"></span>
                      <span class="host-name">Find Nearest</span>
                  </span>
                  <span class="event-location">
                      <span class="map-location"></span>
                      <span class="distance">Shops Around!</span>
                  </span>
              </div>
          </div>
  
      </div>
  
  
  
  
  
  </body>
  
  
  