

<html>
    <head>
        <title>Lets Not Waste</title>
        <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Condiment&family=Lato:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="loader">
            <div class="intro">
                <h3 class="intro-title">LetsNotWaste</h3>
            </div>
        </div>
        <section id="landingPage">
            <div class="header">
                <h3 >LetsNotWaste</h3>
                <div class="line"></div>
            </div>
            <div class="nav">
                <ul>
                    
                    <a href="/dashboard" class="nav-btn">Dashboard</a>
                </ul>
            </div>
            <div class="sidebar">
                <div class="strip"></div>
            </div>
            <div class="title">
                <h1>Make Money</h1>
                <h1>Reduce Food Waste</h1>
                <h1>Stay Happy.</h1>
               
            </div>
            <div class="para">
                <h2>Together let's make a difference.</h2>	
            </div> 	
            <img class="svg2" src="assets/free2.png" alt="">
            <img class="svg4" src="assets/charitate.png" alt="">
            <img class="svg5" src="assets/burger.png" alt="">
        </section>
  
  



<div class="container">
    
    <div class="content">
      <div class="list">
        <div class="list-header">
          <h3>List of Available Items</h3>
         
          <button  class="nav-btn" (click)="addPokemon()">
            Add Items
          </button>
        
        </div>
        <app-list
          [pokemon$]="allPokemon$"
          (pokemonEmitter)="selectPokemon($event)"
        ></app-list>
      </div>
      <app-detail
        [pokemon]="selectedPokemon"
        *ngIf="selectedPokemon"
        (deletePokemon)="deletePokemon()"
        (updatePokemon)="updatePokemon()"
      ></app-detail>
    </div>
  </div>
 
 
  <section id="skills">
    <div class="sidebar3"></div>
    <div class="sidebar4"></div>
    <div class="strip3">
        <img class="photo" src="assets/sadman.png">
        <div class="bio">
            <h4 class="h4">-Developer-</h4>
            <h4 class="h4">Sadman Rahman</h4>
            <h4 class="h4">London, UK</h4>
            <h4 class="h4">London South Bank University</h4>
            <h4 class="h4 non">sadman200004@gmail.com</h4>
            
        </div>
    </div>
    <div class="education">
        <h3 class="h3">Do you have surplus food?</h3>
        <h4 class="h4 imp">BE PART OF THE SOLUTION</h4>
        <h4 class="h4 imp2"> Lets not Waste can help you cut food waste </h4>
        <h4 class="h4 imp2"> - all while finding new customers and winning back sunk costs.</h4>
        <h4 class="h4 imp2">winning back sunk costs.</h4>
        <br>
        <h4 class="h4 imp">IT'S A MOVEMENT</h4>
        <h4 class="h4 imp2">Our work doesn't end with shops</h4>
        <h4 class="h4 imp2">We're helping homes reduce food by</h4>
        <h4 class="h4 imp2">enabling them to share food with neighbours</h4>
    </div>
    <div class="experience">
        <h3 class="h3">Want to save money on dinners?</h3>
        <h4 class="h4 imp">Get the cheapest price here or food for free</h4>
        <h4 class="h4 imp2">Our variety of shops help</h4>
        <h4 class="h4 imp2">save you money while they</h4>
        <h4 class="h4 imp2">reduce food waste.</h4>
        
    </div>
    <div class="skills-set">
        <h3 class="h2">Food Waste </h3>
        <ul class="ul">
            <li class="html li">2020-2023</li>
            <li class="css li">2017-2020</li>
            <li class="js li">2014-2017</li>
            <li class="ng li">2011-2014</li>
        </ul>
    </div>
    <img class="svg11" src="assets/wings.png" alt="">
    <img class="svg10" src="assets/platefood2.png" alt="">
</section>
<section id="projects">
    <div class="cover"></div>
    <h3 class="project-title">Types Of Food</h3>
    <div class="projects-container">
        <div class="project">
            <a href="https://github.com/vikalp2502/AlgoSort-Sorting-Visualiser"><img class="pro-img" src="assets/halal.png"></a>
            <h2>Halal</h2>
        </div>
        <div class="project">
            <a href="https://github.com/vikalp2502/Shoes-Nike-Landing-Page"><img class="pro-img" src="assets/veggie.png"></a>
            <h2>Vegeterian/Vegan</h2>
        </div>
        <div class="project">
            <a href="https://github.com/vikalp2502/CODM-landing_page"><img class="pro-img" src="assets/meat.png"></a>
            <h2>Meat</h2>
        </div>
    </div>
    <a href="https://github.com/vikalp2502" class="nav-btn pos2">More Info</a>
    <img class="svg8" src="assets/pancake.png" alt="">
    <img class="svg9" src="assets/greenfood.png" alt="">
</section>
<section id="contacts">
        <div id="contact" class="contact-me">
            <h3 class="contact-title">Get In Touch</h3>
            <h2 class="contact-tagline">If you have any question</h2>
            <h4 class="p2">Feel free to drop any question or query and we will respond to you as soon as we can.</h4>
            <a class="nav-btn" href="/contact">Contact US</a>
            <img class="svg6" src="assets/platefood3.png" alt="">
            <img class="svg7" src="assets/platefood.png" alt="">
        </div>
</section>
<section id="footer">
    <div class="logo">
        <h3>LetsNotWaste</h3>
        <div class="line"></div>
    </div>
    <div class="scroll-indicator"><a href="/char"><i class="fa fa-arrow-up"></i></a></div>
    <div class="link">

       
    </div>
    <div class="footer-social-icons">
        <ul>
       
        <li><a href="https://www.twitter.com/kaushik_vikalp/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/vikalp-kaushik-99966a1ab/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/vikalp._.kaushik/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="sidebar2">
        <p>© 2023. All rights reserved.</p>
        <div class="strip2"></div>
    </div>
</section>
</body>
</html>



<router-outlet></router-outlet>