
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>

</head>
<body>

<div class="topnav">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
<body>
    
        <header class="header">
          
            <div class="logo">
                <img src="assets/logo3.png" alt="">
            </div>
    
            <head>
              <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
             <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
                <script src="https://kit.fontawesome.com/a076d05399.js"></script>
              </head>
            
              <body>
                <input type="checkbox" id="active">
                <label for="active" class="menu-btn"><span></span></label>
                <label for="active" class="close"></label>
                <div class="wrapper">
                  <ul>
            <li><a href="/dashboard">Home</a></li>
            <li> <a href="/user">Order </a></li>
            <li> <a href="/about">About</a></li>
            <li><a href="/contact">Contact </a></li>
            <li> <a href="/charity">Charities</a></li>
            <li><a href="/becomeadmin">Register</a></li>
            <li><a href="#">Logout</a></li>
            </ul>
            </div>
            <div class="content">
                  <div class="title">
          </div>
       
            </div>
            </body>
            
        </header>
        
        
          
<head>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
      <ul>
<li><a href="/dashboard">Home</a></li>
<li> <a href="/user">Order </a></li>
<li> <a href="/about">About</a></li>
<li><a href="/contact">Contact </a></li>
<li> <a href="/charity">Charities</a></li>
<li><a href="/becomeadmin">Register</a></li>
<li><a href="#">Logout</a></li>
</ul>
</div>
<div class="content">
      <div class="title">
</div>
<div class="container">
  <br><br><br><br><br>
  <div class="card">
     <div class="card__image-container">
      
       <img class="card__image" src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80" alt="">
    </div>
      
      <svg class="card__svg" viewBox="0 0 800 500">

        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#333"/>
        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
      </svg>
    
     <div class="card__content">
       <h1 class="card__title">About Us</h1>
     <h5>"Lets Not Waste" is a platform dedicated to reducing food waste by connecting shop owners with consumers who are looking for quality products at discounted prices. Our mission is to provide a solution for the abundance of food that goes to waste every day, especially in the food industry. By enabling shop owners to sell their expiring items online, we are creating a sustainable ecosystem where food waste is minimized, and resources are utilized efficiently. Our goal is to create a win-win scenario for both shop owners and consumers, where the former can maximize their profits, and the latter can enjoy fresh and affordable food. Join us to make a positive impact!



     </h5>
     
    </div>
  </div>
</div>
</div>
</body>


   