<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="container">	
	
	<div class="product-details">
		
	<h1>Terms & Conditions</h1>

		
			<p class="information">By accessing letsnotwaste.com, you agree to comply with and be bound by the following terms and conditions:<br>
            
                The customer purchasing the free food should still input a small amount of money, to ensure their arrival and when the shop owners are in the presence of their arrival, they should be fully refunded. 
                <br>
               
            Product Description:
            The product descriptions on this website are for informational purposes only and are not a guarantee of the actual product you will receive.<br>
            
            Return and Refund Policy:If you are not satisfied with the products you have received, you may request a return or refund within 3 days of receipt of the product.
            <br>
            Changes to  Terms:
We reserve rights to modify these Terms at any time.
<br>
           
            </p>

          
		
<div class="control">
    <a href="#">
    <button class="btn">
        <span class="buy">Decline</span>
      </button>
    </a>
      -
	<a href="/ww4IagYGx0K3eUPcys7Ibf6yq9K32I67N3Q4rmbj6GXqtUj0CGnICQR1cSN3ZDeELbez5xRrHKaAyJLm">
	<button class="btn">
   <span class="buy">Accept</span>
 </button>
</a>
	
</div>
			
</div>
	
<div class="product-image">
	
	<img src="assets/privacy.png" alt="">
	


</div>

</div>

