

<div class="container">
  
  <div class="post">
    
      <div class="header_post">
          <img src="https://www.integrify.com/site/assets/files/7900/task-automation.gif" alt="">
      </div>

      <div class="body_post">
        
          <div class="post_content">

              <h1>Integrate Inventory</h1>
              <p>
              -Integration of Stock Inventory to auto reduce the items instead of chagning manually.<br>
              -Show your location to your user in maps.
              </p>
              <br>
              <p>
                Integrate your Inventory List so you do not have to input hundreds of items manually.<br>
                Time is Money! ;)
              </p>

              <div class="container_infos">
                  <div class="postedBy">
                      <span>Contact</span>
                      <a href="/contactadmin">
                    Sadman Rahman
                  </a>
                  </div>

                  <div class="container_tags">
                      <span>buy:</span>
                      <div class="tags">
                        <a href="https://square.link/u/mMgbqd79">
                          <button class="nav-btn">Buy Package 2- 30£</button>
                        </a>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>














