  <body>
    <div class="nav">
      <ul>
          <a href="/adminpage" >
            <button class="nav-btn">Home</button>
            </a>
      </ul>
  </div>

<div class="container">
 
  <div class="post">
  

      <div class="header_post">
          <img src="https://www.integrify.com/site/assets/files/7900/task-automation.gif" alt="">
      </div>

      

      <div class="body_post">
        
          <div class="post_content">

              <h1>Integrate Inventory</h1>
              <p>
              -Package 1: Integrate hundreds of Items at once.<br>
              -Package 2: Integrate any of the inventory management systems listed in the link with payment gateway (Square).
           
              </p>
             
              

              <div class="container_infos">
                  <div class="postedBy">
                      <span>Buy:</span>
                    
                  </div>

                  <div class="container_tags">
                     
                      <div class="tags">
                        <a href="https://checkout.square.site/merchant/MLZ0ZFEMKXMXY/checkout/N7UE3IPYKHPR2YOAN5CTPT5D">
                          <button class="btn">Buy Package 1- 10£</button>
                        </a>
                        <br>
                        <a href="https://square.link/u/mMgbqd79">
                          <button class="btn">Buy Package 2- 30£</button>
                        </a>
                        
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>






</body>







