<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>

</head>
<body>

<div class="topnav">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
<body>
    
        <header class="header">
          
            <div class="logo">
                <img src="assets/logo3.png" alt="">
            </div>
    
            <head>
              <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
             <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
                <script src="https://kit.fontawesome.com/a076d05399.js"></script>
              </head>
            
              <body>
                <input type="checkbox" id="active">
                <label for="active" class="menu-btn"><span></span></label>
                <label for="active" class="close"></label>
                <div class="wrapper">
                  <ul>
                    <li><a href="/ww4IagYGx0K3eUPcys7Ibf6yq9K32I67N3Q4rmbj6GXqtUj0CGnICQR1cSN3ZDeELbez5xRrHKaAyJLm">Home</a></li>
                    <li> <a href="/1M8Bd6cy9LVVzCZ7pFfQM00PQVkkNvZC198Nd8wP8ymmEhHmdAiTWzk2Y4BfXR7L1AnVo5zPuxXyBgVl">Sell</a></li>
                    <li><a href="/64RMA74lW3T8RJM5ABkIuLn89Z23DY9XxsVVOTOTMs1fHE83r6ttI36BhfN4dzUYE7JbgQd4AB8mJB4y">Charity</a></li>
                    <li> <a href="/BXlqaHvEr76RuGT7FN0BQWhpIjJ4j6AWqllzzGMNZd17gkeDRAi5czFLHWf9ZDxsr8ZQcMXJ7zPXCFwd">About</a></li>
                    <li> <a href="/vg6jh2vI5sXIPKcxmhEisMS5ZRFvzklYmNQyb8bZc7ITAkSC3W3dRwTcGJdD6vDwAG4Kk6PAuwbVTKFP">Contact </a></li>
                    <li><a href="/t59eGGRrISAqhtjXoGZ3VMk9ZkbPQAq6WT00bb2FciXRawR83WaIO7npIBe6xLPg1CzBKsDGby0X0fxD">Premium </a></li>
                    <li><a href="#">Logout</a></li>
            </ul>
            </div>
            <div class="content">
                  <div class="title">
          </div>
       
            </div>
            </body>
            
        </header>
        
        <h1>...</h1>
        <h1>...</h1>
        <h1>...</h1>
        <h1>...</h1>
        <h1>...</h1>
  
  
          
  
        <div class="belownav">
          <img src="assets/adminbelownav.png" alt="">
          
      </div>



      <!-- Chart -->

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="frame">
  <div class="card">
  	<div class="header">
			<span class="title big">Weekly report</span>
			<span class="date small">14. Feb - 20. Feb</span>
			<span class="type small">Most Sold:</span>
			<span class="value"> Lasagna</span>
      <span class="type small">Most Sold:</span>
		</div>
		<div class="clearfix"></div>
		<div class="parameter">
			
			<span class="blue">Users</span>
		</div>
		<div class="statistic">
			<div class="line-1"></div>
			<div class="line-2"></div>
			<div class="line-3"></div>
			<div class="data red">
				
			</div>
			<div class="data blue">
				<svg>
					<polyline points="9,75 50,20 90,50 130,65 171,60 211,40 251,55"></polyline>    
				</svg>
				<div class="points">
					<div class="point-1">
						<div class="tooltip">0</div>
					</div>
					<div class="point-2">
						<div class="tooltip">456</div>
					</div>
					<div class="point-3">
						<div class="tooltip">278</div>
					</div>
					<div class="point-4">
						<div class="tooltip">65</div>
					</div>
					<div class="point-5">
						<div class="tooltip">74</div>
					</div>
					<div class="point-6">
						<div class="tooltip">312</div>
					</div>
					<div class="point-7">
						<div class="tooltip">81</div>
					</div>
				</div>
			</div>
		</div>
		<div class="days">
			<span class="day">Mon</span>
			<span class="day">Tue</span>
			<span class="day">Wed</span>
			<span class="day">Thu</span>
			<span class="day">Fri</span>
			<span class="day">Sat</span>
			<span class="day">Sun</span>
		</div>
  </div>
</div>

<!-- Yearly chart -->


<body>
	<div class="main-container">
		<div class="year-stats">
			<div class="month-group">
				<div class="bar h-100"></div>
				<p class="month">Jan</p>
			</div>
			<div class="month-group">
				<div class="bar h-50"></div>
				<p class="month">Feb</p>
			</div>
			<div class="month-group">
				<div class="bar h-75"></div>
				<p class="month">Mar</p>
			</div>
			<div class="month-group">
				<div class="bar h-25"></div>
				<p class="month">Apr</p>
			</div>
			<div class="month-group selected">
				<div class="bar h-100"></div>
				<p class="month">May</p>
			</div>
			<div class="month-group">
				<div class="bar h-50"></div>
				<p class="month">Jun</p>
			</div>
			<div class="month-group">
				<div class="bar h-75"></div>
				<p class="month">Jul</p>
			</div>
			<div class="month-group">
				<div class="bar h-25"></div>
				<p class="month">Aug</p>
			</div>
			<div class="month-group">
				<div class="bar h-50"></div>
				<p class="month">Sep</p>
			</div>
			<div class="month-group">
				<div class="bar h-75"></div>
				<p class="month">Oct</p>
			</div>
			<div class="month-group">
				<div class="bar h-25"></div>
				<p class="month">Nov</p>
			</div>
			<div class="month-group">
				<div class="bar h-100"></div>
				<p class="month">Dec</p>
			</div>
		</div>

		<div class="stats-info">
			<div class="graph-container">
				<div class="percent">
					<svg viewBox="0 0 36 36" class="circular-chart">
						<path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
						<path class="circle" stroke-dasharray="85, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
						<path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
						<path class="circle" stroke-dasharray="30, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
					</svg>
				</div>
				<p>Total: £2089</p>
			</div>

			<div class="info">
				<p>Most popular shop <br /><span>Sourced Market</span></p>
				<p>Total purchases:<span>729</span></p>
				
			</div>
		</div>
	</div>
</body>

<!-- Analytics first-->
<br><br><br><br><br><br>

<div class="blog-card">
	<div class="meta">
	  <div class="photo" style="background-image: url(https://watermarkconsult.net/wp-content/uploads/2015/10/Revenue-Growth.jpg)"></div>
	 
	</div>
	<div class="description">
	  <h1>Revenue/User Activity</h1>
	  <h2>How much money have we helped make?</h2>
	  <p>Check the total incomes made from this website to understand how much we have helped contirbute to reduce food waste
	  </p>
	  <p class="read-more">
		<a href="https://console.firebase.google.com/u/0/project/tryit-7e5ae/analytics/app/web:M2I1MjU0ZDUtOTIwOS00YmFhLTkwYzUtMGUwNTc5MmFjOGQ1/overview/~2F%3Ft%3D1673901616705&fpn%3D545662018512&swu%3D1&sgu%3D1&sus%3Dupgraded&cs%3Dapp.m.dashboard.overview&g%3D1">Check Revenue!</a>
	  </p>
	</div>
  </div>
  <div class="blog-card alt">
	<div class="meta">
	  <div class="photo" style="background-image: url(https://files.ably.io/ghost/prod/2022/01/the-realtime-advantage.png)"></div>
	  
	</div>
	<div class="description">
	  <h1>Realtime Usage</h1>
	  <h2>Who is using the website now?</h2>
	  <p>Check how many people are on the website at this very instant 
	  </p>
	  <p class="read-more">
		<a href="https://console.firebase.google.com/u/0/project/tryit-7e5ae/analytics/app/web:M2I1MjU0ZDUtOTIwOS00YmFhLTkwYzUtMGUwNTc5MmFjOGQ1/overview/~2F%3Ft%3D1673901616705&fpn%3D545662018512&swu%3D1&sgu%3D1&sus%3Dupgraded&cs%3Dapp.m.dashboard.overview&g%3D1">Check Usage!</a>
	  </p>
	</div>
  </div>
  <div class="blog-card">
	<div class="meta">
	  <div class="photo" style="background-image: url(https://www.realnet.co.uk/uploads/news/200e5f4f4756ec85e45ace836fd9e914.jpg)"></div>
	 
	</div>
	<div class="description">
	  <h1>Purchasers/Audiences</h1>
	  <h2>Who uses the website the most?</h2>
	  <p>To find your target audience is, check out the purchasers/audiences
	  </p>
	  <p class="read-more">
		<a href="https://console.firebase.google.com/u/0/project/tryit-7e5ae/analytics/app/web:M2I1MjU0ZDUtOTIwOS00YmFhLTkwYzUtMGUwNTc5MmFjOGQ1/overview/~2F%3Ft%3D1673901616705&fpn%3D545662018512&swu%3D1&sgu%3D1&sus%3Dupgraded&cs%3Dapp.m.dashboard.overview&g%3D1">Check Audiences!</a>
	  </p>
	</div>
  </div>
     
   
       <!-- Upload Locations -->
<br>
<br>
<br>
<br>
<br>

<h1> Show your Location by Purchasing Premium</h1>
<br>
       <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158881.53476119594!2d-0.3777019671874633!3d51.5219486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b56ee193a43%3A0xb7369fb4e372558f!2sSourced%20Market%20-%20Barbican!5e0!3m2!1sen!2suk!4v1673891037300!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158881.53476119594!2d-0.3777019671874633!3d51.5219486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760521045b3ebf%3A0x4fce2dc5943269b5!2sSourced%20Market!5e0!3m2!1sen!2suk!4v1673891088398!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158881.53476119594!2d-0.3777019671874633!3d51.5219486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760521045b3ebf%3A0x4fce2dc5943269b5!2sSourced%20Market!5e0!3m2!1sen!2suk!4v1673891088398!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158881.53476119594!2d-0.3777019671874633!3d51.5219486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760521045b3ebf%3A0x4fce2dc5943269b5!2sSourced%20Market!5e0!3m2!1sen!2suk!4v1673891088398!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158881.53476119594!2d-0.3777019671874633!3d51.5219486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760521045b3ebf%3A0x4fce2dc5943269b5!2sSourced%20Market!5e0!3m2!1sen!2suk!4v1673891088398!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158881.53476119594!2d-0.3777019671874633!3d51.5219486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760521045b3ebf%3A0x4fce2dc5943269b5!2sSourced%20Market!5e0!3m2!1sen!2suk!4v1673891088398!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
      </div>
      




  <!-- Site footer -->




<link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Condiment&family=Lato:wght@900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




<footer class="footer-distributed">

<div class="footer-left">

<h3><span>LetsNot</span>Waste</h3>

<p class="footer-links">


	<a href="/ww4IagYGx0K3eUPcys7Ibf6yq9K32I67N3Q4rmbj6GXqtUj0CGnICQR1cSN3ZDeELbez5xRrHKaAyJLm">Home</a>
	 <a href="/1M8Bd6cy9LVVzCZ7pFfQM00PQVkkNvZC198Nd8wP8ymmEhHmdAiTWzk2Y4BfXR7L1AnVo5zPuxXyBgVl">Sell</a>
	<a href="/64RMA74lW3T8RJM5ABkIuLn89Z23DY9XxsVVOTOTMs1fHE83r6ttI36BhfN4dzUYE7JbgQd4AB8mJB4y">Charity</a>
	<a href="/BXlqaHvEr76RuGT7FN0BQWhpIjJ4j6AWqllzzGMNZd17gkeDRAi5czFLHWf9ZDxsr8ZQcMXJ7zPXCFwd">About</a>
	<a href="/vg6jh2vI5sXIPKcxmhEisMS5ZRFvzklYmNQyb8bZc7ITAkSC3W3dRwTcGJdD6vDwAG4Kk6PAuwbVTKFP">Contact </a>
	<a href="/t59eGGRrISAqhtjXoGZ3VMk9ZkbPQAq6WT00bb2FciXRawR83WaIO7npIBe6xLPg1CzBKsDGby0X0fxD">Premium </a>
</p>

<p class="footer-company-name">LetsNotWaste © 2023</p>
</div>

<div class="footer-center">

<div>
<i class="fa fa-map-marker"></i>
<p><span>United Kingdom</span> London</p>
</div>

<div>
<i class="fa fa-phone"></i>
<p>+447424883958</p>
</div>

<div>
<i class="fa fa-envelope"></i>
<p><a href="mailto:sadman@gmail.com">sadman@gmail.com</a></p>
</div>

</div>

<div class="footer-right">

<p class="footer-company-about">
<span>About the company</span>
"Lets Not Waste" is a platform dedicated to reducing food waste by connecting shop owners with consumers who are looking for quality products at discounted prices. Our mission is to provide a solution for the abundance of food that goes to waste every day, especially in the food industry. 
</p>

<div class="footer-icons">

<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-linkedin"></i></a>
<a href="#"><i class="fa fa-github"></i></a>

</div>

</div>

</footer>


<router-outlet></router-outlet>