
<div class="detail">
    <h2>{{ pokemon.name }}</h2>
    <h4>{{ pokemon.type }} </h4>
    <div class="content">
      <img [src]="pokemon.imgUrl" />
      <div>
    
        <p> Price: {{ pokemon.height }}</p>
        
        <p>
          Location:{{ pokemon.description }}
          
        </p>
      
        <p>
          Contact Number:{{ pokemon.contact }}
          
        </p>
        
        
        <p>Buy: {{ pokemon.weight }}</p>
      </div>
    </div>
    <div>
      <button (click)="update()"  class="nav-btn">Edit</button>
      <button (click)="delete()"  class="nav-btn2">Delete</button>
    </div>
  </div>