
<div class="detail">
    <h2>{{ item.name }}</h2>
    <h4>{{ item.type }} </h4>
    <div class="content">
      <img [src]="item.imgUrl" />
      <div>
    
        <p> Price: {{ item.height }}</p>
        
        <p>
          Location:{{ item.description }}
          
        </p>
      
        <p>
          Contact Number:{{ item.contact }}
          
        </p>
        
        
        <p>Buy: {{ item.weight }}</p>
      </div>
    </div>
    <div>
      <button (click)="update()"  class="nav-btn">Edit</button>
      <button (click)="delete()"  class="nav-btn2">Delete</button>
    </div>
  </div>