button {
    background-color: white;
    border-radius: 20px;
    color: #fff;
    padding: 0 50px;
    box-shadow: 0px 2px 2px #333;
  }
  
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 300px;
  }
  
  mat-form-field {
    width: 100%;
  }