<a href="/dashboard" class="button">Dashboard</a>


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Website</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  



 

  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Restraunt</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" />
  </head>
  
  <body>
      
      <section class="showcase-area" id="showcase">
          <div class="showcase-container">
              <h1 class="main-title" id="home">Lets not waste</h1>
              <p>Reduce food waste, increase money</p>
          </div>
      </section>
  
      <section id="about">
          <div class="about-wrapper container">
              <div class="about-text">
                  <p class="small">"MUST DO" Before Ordering</p>
                  <p>
                      Check the "how to use" page first, to avoid problems <br>
                      going forward, as it explains in a detailed way how to 
                      order <br>your desired food item without any problem.
                  </p>
              </div>
              <div class="about-img">
                  <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Food_Waste_5.max-800x800.png" alt="food" />
              </div>
          </div>
      </section>
      <section id="food">
          <h2>Types of food</h2>
          <div class="food-container container">
              <div class="food-type fruite">
                  <div class="img-container">
                      <img src="https://uploads-ssl.webflow.com/5ef11a90e077558caad294c1/5ef11a90e0775563bbd29746_halal-food-airline.jpg" alt="error" />
                      <div class="img-content">
                          <h3>Halal</h3>
                          <a href="https://en.wikipedia.org/wiki/Fruit" class="btn btn-primary" target="blank">learn
                              more</a>
                      </div>
                  </div>
              </div>
              <div class="food-type vegetable">
                  <div class="img-container">
                      <img src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fill,g_auto,w_1500,ar_3:2/k%2FDesign%2F2019-05%2Fvegetarian-vegan-what-is-the-difference-k" alt="error" />
                      <div class="img-content">
                          <h3>Vegan/Vegeterian</h3>
                          <a href="https://en.wikipedia.org/wiki/Vegetable" class="btn btn-primary" target="blank">learn
                              more</a>
                      </div>
                  </div>
              </div>
              <div class="food-type grin">
                  <div class="img-container">
                      <img src="https://images.ctfassets.net/3s5io6mnxfqz/5GlOYuzg0nApcehTPlbJMy/140abddf0f3f93fa16568f4d035cd5e6/AdobeStock_175165460.jpeg" alt="error" />
                      <div class="img-content">
                          <h3>Non-Vegeterian</h3>
                          <a href="https://en.wikipedia.org/wiki/Grain" class="btn btn-primary" target="blank">learn
                              more</a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
     









              
              <div class="testimonial-box">
                  <div class="customer-detail">
                      <div class="customer-photo">
                          <img src="https://i.postimg.cc/sxd2xCD2/female-photo1.jpg" alt="" />
                          <p class="customer-name">Amelia Watson</p>
                      </div>
                  </div>
                  <div class="star-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                  </div>
                  <p class="testimonial-text">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                      voluptas cupiditate aspernatur odit doloribus non.
                  </p>
  
              </div>
              <div class="testimonial-box">
                  <div class="customer-detail">
                      <div class="customer-photo">
                          <img src="https://i.postimg.cc/fy90qvkV/male-photo3.jpg" alt="" />
                          <p class="customer-name">Ben Roy</p>
                      </div>
                  </div>
                  <div class="star-rating">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                  </div>
                  <p class="testimonial-text">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                      voluptas cupiditate aspernatur odit doloribus non.
                  </p>
  
              </div>
          
     
      
      <!-- .................../ JS Code for smooth scrolling /...................... -->
 
  
  
  
  </body>
  
  







<div class="container">
    
    

    <div class="content">
      <div class="list">
        <div class="list-header">
          <h3>List of Available Items</h3>
          
        </div>
        <app-list
          [pokemon$]="allPokemon$"
          (pokemonEmitter)="selectPokemon($event)"
        ></app-list>
      </div>
      <app-detail
        [pokemon]="selectedPokemon"
        *ngIf="selectedPokemon"
        (deletePokemon)="deletePokemon()"
        (updatePokemon)="updatePokemon()"
      ></app-detail>
    </div>
  </div>

<router-outlet></router-outlet>