

<html>
    <head>
        <title>Lets Not Waste</title>
        <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Condiment&family=Lato:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
        <div class="loader">
            <div class="intro">
                <h3 class="intro-title">LNW</h3>
            </div>
        </div>
       
            <div class="header">
                <h3 >LNW</h3>
                <div class="line"></div>
            </div>
            
            <div class="nav">
                <ul>
                    
                    <a href="/dashboard" class="nav-btn">Dashboard</a>
                </ul>
                
            </div>
            
        
        <div class="belownav">
            <img src="assets/restaurantimg.png" alt="">
        </div>
    
        <div class="container">
        
            <div class="content">
              <div class="list">
                <div class="list-header">
                    
                </div>
        
             
                
                <app-list
                
                  [pokemon$]="allPokemon$"
                  (pokemonEmitter)="selectPokemon($event)"
                ></app-list>
                
            
              </div>
              
              <app-detail
                [pokemon]="selectedPokemon"
                *ngIf="selectedPokemon"
                (deletePokemon)="deletePokemon()"
                (updatePokemon)="updatePokemon()"
              ></app-detail>
            </div>
          </div>
       
         

        
          <img src="assets/faq.png" alt="Cinque Terre" width="1500" height="200">



        
<div class="accordion-wrapper">
  <div class="accordion">
    <input type="radio" name="radio-a" id="check1" checked>
    <label class="accordion-label" for="check1">How do I purchase an item?</label>
    <div class="accordion-content">
      <p>Simply click the item you want to buy, then Use the link on the last colmun provided after the "buy" text and input your bank details to succesfully complete your purchase.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check2">
    <label class="accordion-label" for="check2">How do I get a refund?</label>
    <div class="accordion-content">
      <p>Call the shop with the provided number, when item is clicked to discuss why you want your refund, then according to the reason, you will recieve the refund.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check3">
    <label class="accordion-label" for="check3">How do I start selling?</label>
    <div class="accordion-content">
      <p>Just click on the menu options, then click register and follow the provided steps.</p>
    </div>
  </div>
</div>

<br><br><br><br>
<img src="assets/refund.png" alt="Cinque Terre" width="1500" height="50">
<h4>Request a refund by chosing the shop from the below options. In the email ensure to state the reasoning and attach the reciept.</h4>


<form id="app-cover">
  <div id="select-box">
 
    <input type="checkbox" id="options-view-button">
    <div id="select-button" class="brd">
      <div id="selected-value">
        <span>Select the shop</span>
      </div>
      <div id="chevrons">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div id="options">
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="codepen">
        <input class="s-c bottom" type="radio" name="platform" value="codepen">
        <i class="fab fa-codepen"></i>
        <a href = "mailto: sourcedmarket@gmail.com"> 
        <span class="label">Sourced Market</span>
        <span class="opt-val">Sourced Market</span>
        </a>
      </div>
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="dribbble">
        <input class="s-c bottom" type="radio" name="platform" value="dribbble">
        <i class="fab fa-dribbble"></i>
        <a href = "mailto: eatmeat@gmail.com"> 
        <span class="label">EatMeat</span>
        <span class="opt-val">EatMeat</span>
        </a>
      </div>
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="behance">
        <input class="s-c bottom" type="radio" name="platform" value="behance">
        <i class="fab fa-behance"></i>
        <a href = "mailto: justsushi@gmail.com"> 
        <span class="label">JustSushi</span>
        <span class="opt-val">JustSushi</span>
        </a>
      </div>
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="hackerrank">
        <input class="s-c bottom" type="radio" name="platform" value="hackerrank">
        <i class="fab fa-hackerrank"></i>
        <a href = "mailto: tenten@gmail.com"> 
        <span class="label">ten-ten-food</span>
        <span class="opt-val">ten-ten-food</span>
        </a>
      </div>
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="stackoverflow">
        <input class="s-c bottom" type="radio" name="platform" value="stackoverflow">
        <i class="fab fa-stack-overflow"></i>
        <a href = "mailto: Delimeateous@gmail.com"> 
        <span class="label">Delimeateous</span>
        <span class="opt-val">Delimeateous</span>
        </a>
      </div>
      <div class="option">
        <input class="s-c top" type="radio" name="platform" value="freecodecamp">
        <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
        <i class="fab fa-free-code-camp"></i>
        <a href = "mailto: VeggieDJ@gmail.com"> 
        <span class="label">VeggieDJ</span>
        <span class="opt-val">VeggieDJ</span>
        </a>
      </div>
      <div id="option-bg"></div>
    </div>
  </div>
</form>


<router-outlet></router-outlet>