

<html>
    <head>
        <title>Lets Not Waste</title>
        <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Condiment&family=Lato:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    
        <div class="loader">
            <div class="intro">
                <h3 class="intro-title">LNW</h3>
            </div>
        </div>
      
       
        <div class="nav">
            <ul>
                
                <a href="/adminpage" >
                  <button mat-button type="submit" >Home</button>
              </a>
            </ul>
            
        </div>
            
        
        <div class="belownav">
            <img src="assets/Charityimg.png" alt="">
        </div>
    
        <div class="container">
        
            <div class="content">
              <div class="list">
                <div class="list-header">
                    
                </div>
        
        
    
<br>
<br>
<h1>Requests</h1>
<div class="show">
    <ng-container *ngFor="let student of CharityCollectiondata">
        <div>
            <label style="color: teal;font-weight: 500;" for="name-show">Collector Name & Store Requested collection from:</label>
            <input type="text" name="name-show" [value]="student.name" required #name>

            <label style="color: teal;font-weight: 500;" for="status-show">Status:</label>
            <input type="text" name="status-show" [value]="student.status" required #status>

            <button type="button" class="dltbutton"(click)="delete(student.id)">Delete</button>
            <button type="button" (click)="update(student.id, name, status)">Update</button>
        </div>
        <br>
    </ng-container>
</div>



<img src="assets/faq.png" alt="Cinque Terre" width="1500" height="200">



        
<div class="accordion-wrapper">
  <div class="accordion">
    <input type="radio" name="radio-a" id="check1" checked>
    <label class="accordion-label" for="check1">How do I purchase an item?</label>
    <div class="accordion-content">
      <p>Simply click the item you want to buy, then Use the link on the last colmun provided after the "buy" text and input your bank details to succesfully complete your purchase.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check2">
    <label class="accordion-label" for="check2">How do I get a refund?</label>
    <div class="accordion-content">
      <p>Call the shop with the provided number, when item is clicked to discuss why you want your refund, then according to the reason, you will recieve the refund.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check3">
    <label class="accordion-label" for="check3">How do I start selling?</label>
    <div class="accordion-content">
      <p>Just click on the menu options, then click register and follow the provided steps.</p>
    </div>
  </div>
</div>
