

<html>
    <head>
        <title>Lets Not Waste</title>
        <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Condiment&family=Lato:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    
        <div class="loader">
            <div class="intro">
                <h3 class="intro-title">LNW</h3>
            </div>
        </div>
      
       
        <div class="nav">
            <ul>
                
                <a href="/adminpage" >
                  <button mat-button type="submit" >Home</button>
              </a>
            </ul>
            
        </div>
            
        
        <div class="belownav">
            <img src="assets/admincharity.png" alt="">
        </div>
    
        <div class="container">
        
            <div class="content">
              <div class="list">
                <div class="list-header">
                    
                </div>
        
        
    
<br>
<br>
<h1>Requests</h1>
<div class="show">
    <ng-container *ngFor="let student of CharityCollectiondata">
        <div>
            <label style="color: teal;font-weight: 500;" for="name-show">Collector Name & Store Requested collection from:</label>
            <input type="text" name="name-show" [value]="student.name" required #name>

            <label style="color: teal;font-weight: 500;" for="status-show">Status:</label>
            <input type="text" name="status-show" [value]="student.status" required #status>

            <button type="button" class="dltbutton"(click)="delete(student.id)">Delete</button>
            <button type="button" (click)="update(student.id, name, status)">Update</button>
        </div>
        <br>
    </ng-container>
</div>



<img src="assets/faq.png" alt="Cinque Terre" width="1500" height="200">



        
<div class="accordion-wrapper">
  <div class="accordion">
    <input type="radio" name="radio-a" id="check1" checked>
    <label class="accordion-label" for="check1">If I accidentally approve a request I wanted to decline, how do I decline it?</label>
    <div class="accordion-content">
      <p>Simply change the status to decline, as you can change it whenever wished.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check2">
    <label class="accordion-label" for="check2">How do I know when they will arrive?</label>
    <div class="accordion-content">
      <p>Charities will check your store closure time and arrive 30mins before clousure.</p>
    </div>
  </div>
  <div class="accordion">
    <input type="radio" name="radio-a" id="check3">
    <label class="accordion-label" for="check3">How do I contact them?</label>
    <div class="accordion-content">
      <p>Unfortunately their contact details will not be provided for security reasons but you could ask them once arrived at your store.</p>
    </div>
  </div>
</div>









<link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Condiment&family=Lato:wght@900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




<footer class="footer-distributed">

  <div class="footer-left">

    <h3><span>LetsNot</span>Waste</h3>

    <p class="footer-links">
    
      
      <a href="/dashboard">Home</a>
       <a href="/user">Order </a>
       <a href="/about">About</a>
      <a href="/contact">Contact </a>
       <a href="/charity">Charities</a>
       <a href="/usage">Usage </a>
      <a href="/becomeadmin">Register</a>
    </p>

    <p class="footer-company-name">LetsNotWaste © 2023</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>United Kingdom</span> London</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+447424883958</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:sadman@gmail.com">sadman@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      "Lets Not Waste" is a platform dedicated to reducing food waste by connecting shop owners with consumers who are looking for quality products at discounted prices. Our mission is to provide a solution for the abundance of food that goes to waste every day, especially in the food industry. 
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>


